.body-page {
    font-family: 'Ubuntu', sans-serif;
    background-image:url(../img/background1.png);
    background-size: cover;
    background-attachment: fixed;
}
.header-page{
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 18px 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: color .5s .1s;
}
.logo:hover{   
    color: #3CB878;

}
.links-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header-list{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin-right: 48px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list-item{
    margin-right: 25px;
}
.header-icons-btn{
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    display: block;
}
.header-list-icons{
    transition: fill .5s .1s;
}
.header-icons-btn:hover .header-list-icons{
    fill: #3CB878;
}

.header-text,
.header-text-links{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    transition: color .5s .2s;
}
.header-text-links:hover{
    color: #3CB878;
}

.header-text::before{
    content: " ";
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    position: absolute;
    left: 150px;
    top: 4px;
}
.main-page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
    height: 100%;
    box-sizing: content-box;
}
.form-wrap{
    width: 444px;
    background-color: white;
    padding: 35px 60px;
    position: relative;
}
.form-title-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-title{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.form-subtitle-link{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition: background-color .5s .2s;
}
.form-title::before{
    content: " ";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
}

.social-networks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 35px;
    padding-left: 0;
    list-style: none;
}
.social-network-btn{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 15px 22px 15px 12px;
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    transition: background-color .5s .2s;
}
.social-network-items{
    position: relative;
}
.social-network-facebook{
    background-color: #305DB8;
}
.social-network-facebook:hover{
    background-color: #022263;
}
.social-network-google{
    background-color: #DF4A32;
}
.social-network-google:hover{
    background-color: #AB1F09;
}
.social-network-btn::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    left: 48px;
    top: 10px;
    background-color: #0A162F;
    opacity: 0.1;
}

.or-line{
    font-size: 14px;
    line-height: 14px;
    text-align:center;
    color: #848484;
    margin-top: 0;
    position: relative;
}
.or-line::before,
.or-line::after{
    content: " ";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
}
.or-line::before{
    left: 0;
    top: 8px;
}
.or-line::after{
    left: 171px;
    top: 8px;
}

.form-field-description{
    display: none;
}
.form-field{
    padding: 15px 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
    cursor: pointer;
    transition: box-shadow .5s .1s;
}
.form-field:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    cursor: auto; 
}
::placeholder{
    text-transform: capitalize;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

.checkbox-wrap{
    display: flex;
    align-items: center;
}

.form-checkbox{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 5px;
    cursor: pointer;
}

.checkbox-description{
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    text-align: center;
    cursor: pointer;
}
.checkbox-link{
    color: #3CB878;
    margin-left: 2px;
}
.checkbox-link:hover,
.form-subtitle-link:hover{
    color: #01813F;
    text-decoration: underline;
    transition: background-color .5s .1s;
}
.form-main-btn{
    display: block;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    text-align: center;
    text-transform: capitalize;
    padding: 16px 20px;
    margin-top: 20px;
    transition: .5s;
}

.form-main-btn:hover{
    background-color: #01813F;
}